# New York City Dog Data: SQL Notes

Miscelleniou notes on SQL using NY Dog Data.

## Borough and Number of dogs

### Which Borough have more dogs per person?

Show each borough name and corresponding recod count, ordering from the most records to the least.

~~~~
   SELECT borough, count(borough) from ny_dogs
   GROUP BY 1
   ORDER BY 2 DESC;
~~~~

 borough       | count(borough) 
--------------- | ----------------
 Manhattan     |          26015 
 Brooklyn      |          19324 
 Queens        |          17489 
 Staten Island |           9378 
 Bronx         |           9280 

### Dogs per person
The latest official estimated population of five boroughs  (Source: https://www.citypopulation.de/php/usa-newyorkcity.php)

Borough | Estimate (2017-07-01)
--------------- | ----------------
Brooklyn | 2,648,771
Queens | 2,358,582
Manhattan | 1,664,727
Bronx | 1,471,160
Staten Island | 479,458

So, dog-per-person count is higher in Manhattan than in Brooklyn or Queens? Is it because of registration process?

## Poppular Dog Breeds

### What is the most popular breed?

My SQL doesn't have TOP function. TO select top item, use ORDER BY... LIMIT 1
~~~
SELECT breed, count(breed) from ny_dogs
GROUP BY 1 ORDER BY 2 DESC
LIMIT 1;
~~~
Breed | Count 
----| ----
Mixed/Other | 23170

No surprise here.

### Mixed/Others in each borough
~~~
SELECT borough, count(breed) from ny_dogs
where breed = 'Mixed/Other'
GROUP BY 1 ORDER BY 2 DESC
~~~

Borough | Count 
----| ----
Manhattan |	7590
Brooklyn	| 5637
Queens	| 4929
Bronx	| 2551
Staten Island	| 2463

### Top 10 popular breeds, not Mixed or Other
~~~
SELECT breed, count(breed) from ny_dogs
where breed != 'Mixed/Other'
GROUP BY 1 ORDER BY 2 DESC
LIMIT 10;
~~~

Breed | Count 
----| ----
Yorkshire Terrier |	4911
Shih Tzu	| 4758
Chihuahua	| 3603
Maltese	| 2909
Labrador Retriever	| 2633
American Pit Bull Terrier/Pit Bull	| 1659
Labrador Retriever Crossbreed	| 1651
Beagle	| 1475
Cocker Spaniel	| 1463
Pomeranian	| 1403

It looks like smaller dogs are popular. 
But mixed breed far outnumbers any other breed. 


### Top 5 breeds in each borough

Bronx| Brooklyn |  Manhattan | Queens | Staten Island 
 ---- | ----  | ----  | ----  | ---- 
Yorkshire Terrier 764 | Shih Tzu	1247 | Yorkshire Terrier	1241 | Yorkshire Terrier	1072 | Yorkshire Terrier	593
Shih Tzu	760 | Yorkshire Terrier	1241 | Shih Tzu	1155 | Shih Tzu	1068 | Shih Tzu	528
Chihuahua	663 | Chihuahua	879 | Chihuahua	1041 | Maltese	774 | Labrador Retriever	443
American Pit Bull Terrier/Pit Bull	396 | Maltese	616 | Labrador Retriever	946 | Chihuahua	722 | Maltese	357
Maltese	374 | American Pit Bull Terrier/Pit Bull	564 | Maltese	788 | Labrador Retriever	526 | Chihuahua	298

## Popular Names

Expected names comes up as top 10 popular names. 
~~~
SELECT lower(dog_name), count(lower(dog_name)) from ny_dogs
where dog_name != 'ZZZZZ'
GROUP BY 1 ORDER BY 2 DESC
LIMIT 10
~~~

Name | Count 
---- | ----
max	| 999
bella	| 766
lucky	| 710
rocky	| 684
coco	| 661
buddy	| 598
charlie	| 575
princess |	574
lola	|551
lucy	 | 519

Breeds with characters (and not the most popular breed) controbute to variety.
Rocky and Tyson for "Boxer"... Bear or Smokey (the bear) for Chow Chow.
Or Kuma ("bear" in Japanese) for bear-huting dog Shiba Inu.

Boxer	|	Chow Chow	|	Norwegian Elkhound	|	Saint Bernard	|	Shiba Inu
----	|	----	|	----	|	----	|	----
rocky	|	bear	|	lady	|	hedi	|	yoshi
max	|	chewy	|	loki	|	dutchess-amber	|	foxy
tyson	|	simba	|	mr.	|	hazel	|	kuma
bella	|	smokey	|	phillip	|	maxx	|	max
roxy	|	princess	|	oscar	|	lucy	|	nikki